.post-publication {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    align-self: center;
}

.post-publication-select {
    width: 100%;
    height: fit-content;
    border-bottom: 2px solid var(--color-black);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.post-publication-select-contains-img {
    width: 350px;
    height: 203px;
}

.post-publication-select-img {
    max-width: 350px;
    max-height: 203px;
}

input[type="file"] {
    display: none;
}
.custom-file-input {
    margin: 10px;
    border: 1px solid var(--color-black);
    transition: border 0.2s ease-in-out;
    box-shadow: 0px 4px 10px 2px var(--color-grey);
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.custom-file-input:hover {
    border: 1px solid var(--color-primary-dark);
    transition: border 0.2s ease-in-out;
}

.custom-file-input > img {
    width: 20px;
    vertical-align: top;
}

.post-publication-tags {
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
    align-self: center;
    width: 90%;
    min-height: 45px;
    border-bottom: 2px solid var(--color-black);
    border-left: 2px solid var(--color-black);
    border-right: 2px solid var(--color-black);
    box-shadow: 0px 4px 10px 2px var(--color-grey);
}

.post-publication-tag {
    margin: 5px;
    width: fit-content;
    border-radius: 5px;
    border: 2px solid;
    padding: 5px;
    cursor: pointer;
    transition: border 0.2s ease-in-out;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.post-publication-tag:hover {
    border: 2px solid var(--color-error) !important;
    transition: border 0.2s ease-in-out;
}

.delete-tag {
    padding-left: 5px;
    width: 10px;
}

.post-publication-description {
    margin-top: 20px;
    margin-bottom: 20px;
}

.post-publication-description > textarea {
    width: 100%;
    resize: none;
    font-size: 14px;
    height: 120px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid var(--color-grey);
}

.post-publication-is-private {
    border-top: 2px solid var(--color-black);
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.input-large {
    max-width: 100% !important;
    margin-right: 10px;
}

.post-publication-is-private > .dropdown {
    flex-grow: 1;
}

.post-publication-is-private > .publication-tags {
    flex-grow: 3;
}

@media only screen and (min-width: 768px) {
    .post-publication-select-img {
        max-width: 600px;
        max-height: 350px;
    }

    .post-publication-select-contains-img {
        width: 600px;
        height: 350px;
    }
}