
.transform-for-profile {
    transform: translateX(-60%);
}

.user-profile {
    padding-top: 25px;
    display: block;
    border-bottom: 2px solid var(--color-black);
}

.flex-nowrap {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

.user-datas > * {
    flex-grow: 1;
    width: 50%;
}

.user-datas img {
    max-height: 175px;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    border: 2px solid;
}

.user-datas > p {
    padding: 5px;
}

.user-rewards {
    margin-top: 25px;
}

.user-rewards > * {
    flex-grow: 1;
    width: 30%;
}

.user-rewards img {
    height: 70px;
}

.select-post {
    border-bottom: 2px solid var(--color-black);
    border-right: 2px solid var(--color-black);
    border-left: 2px solid var(--color-black);
    margin-right: 15px;
    margin-left: 15px;
    height: 45px;
}

.select-post img {
    height: 25px;
}

.select-post > div {
    cursor: pointer;
    width: 50%;
}

@media only screen and (min-width: 768px) {
    .transform-for-profile {
        transform: translateX(-30%);
    }

    .select-post > div:hover > img {
        height: 30px;
        transition: 0.2s ease-in-out;
    }
}
