.search {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    align-self: center;
}

.search > * {
    flex-grow: 1;
}

.not-found {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.limit-size {
    max-height: 150px;
    overflow: hidden;
    overflow-y:scroll;
}


@media only screen and (min-width: 768px) {

    .input-button > input {
        max-width: 65%;
    }
}