.search {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    align-self: center;
}

.search > * {
    flex-grow: 1;
}

.input-button > input {
    height: 34px;
    font-size: 18px;
    max-width: 65%;
    min-width: 45%;
    width: auto;
    border : 2px solid var(--color-grey);
    border-radius: 5px 0px 0px 5px;
    padding-left: 5px;
}

.input-button button {
    border-radius: 0px 5px 5px 0px;
}

.transform-for-search {
    transform: translateX(22%);
}

.limit-height {
    max-height: 150px;
    overflow: hidden;
    overflow-y:scroll;
}


@media only screen and (min-width: 768px) {
    .transform-for-search {
        transform: translateX(18%);
    }
}