.gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-self: center;
    animation: fadeIn 0.2s linear;
    margin-top: 10px;
}

@keyframes fadeIn {
    from{opacity: 0.3;}
    to {opacity: 1;}
}

.gallery-container {
    position: relative;
}
  
.gallery-img {
    height: 100px;
    margin: 2px;
    border-radius: 2px;
    border: 2px solid var(--color-grey);
}

.gallery-img:hover {
    border: 2px solid var(--color-black);
    transition: 0.2s ease-in-out;
}

.reward-img {
    height: 25px;
    position: absolute;
    bottom: 10%;
    right: 10%;
}

@media only screen and (min-width: 768px) {
    .gallery-img  {
        height: 180px;
    }

    .reward-img {
        height: 35px;
        bottom: 5%;
        right: 5%;
    }
}