.tag {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid var(--color-black);
    align-items: center;
}

.tag-name {
    padding: 20px;
}

.tag-img > img {
    height: 60px;
    border-radius: 25px;
}

.tag-img {
    padding: 10px 20px 5px 0px;
}