@font-face {
    font-family: 'Josephin';
    src: local('Josephin'),
    url(../assets/Josephin.ttf) format('truetype');
}

body, html {
    background-color: var(--color-grey-light);
    height: 100%;
}

* { 
    font-family: 'Josephin', sans-serif !important;
    --color-black : #0d0d0d;
    --color-white : #ffffff;
    --color-grey : #d2d2d2;
    --color-grey-light : #f9f9f9;
    --color-primary-dark : #F2A35E;
    --color-primary-light : #F2C166;
    --color-error : #dc3545;
}

#root {
    display: flex;
    flex-flow: column;
}

.flex-banner {
    flex: 0 1 auto;
}

.flex-content {
    flex: 1 1 auto;
}

.flex-footer {
    flex: 0 1 75px;
}

.user-pic {
    border: 2px solid var(--color-black);
    cursor: pointer;
    border-radius: 10px;
}

.clear-link-decoration {
    color: var(--color-black) !important;
    text-decoration: none !important;
}

.back-img {
    cursor: pointer;
    height: 35px;
    transition: height 0.2s;
}

.back-img:hover {
    height: 40px;
}

.button-marble {
    background: url(../images/button.png);
    background-size: cover;
    color: var(--color-primary-dark);
    border-radius: 5px;
    padding: 10px 15px 10px 15px;
    font-size: 16px;
    box-shadow: 5px 3px 5px var(--color-grey);
    border: 1px solid var(--color-black);
    white-space: nowrap;
}

.button-marble:hover {
    padding: 12px 17px 12px 17px;
    transition: padding 0.2s;
    cursor: pointer;
}

.transform-60 {
    transform: translateX(-60%);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--color-grey-light);
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px var(--color-grey);
    z-index: 1;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content a {
    cursor: pointer;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.dropdown-content > a > img {
    width: 25px !important;
}  

.dropdown-content a:hover {
    background-color: var(--color-grey);
    transition: 0.2s ease-out;
}

.dropdown:hover .dropdown-content {
    display: block;
}
