@font-face {
    font-family: 'Josephin';
    src: local('Josephin'),
    url(../assets/Josephin.ttf) format('truetype');
}

body, html {
    background-color: var(--color-grey-light);
    height: 100%;
}

* { 
    font-family: 'Josephin', sans-serif !important;
    --color-black : #0d0d0d;
    --color-white : #ffffff;
    --color-grey : #d2d2d2;
    --color-grey-light : #f9f9f9;
    --color-primary-dark : #F2A35E;
    --color-primary-light : #F2C166;
    --color-error : #dc3545;
}

#root {
    display: flex;
    flex-flow: column;
}

.flex-banner {
    flex: 0 1 auto;
}

.flex-content {
    flex: 1 1 auto;
}

.flex-footer {
    flex: 0 1 75px;
}


button {
    background: url(../images/button.png);
    background-size: cover;
    color: var(--color-primary-dark);
    border-radius: 5px;
    padding: 10px 15px 10px 15px;
    font-size: 16px;
    box-shadow: 5px 3px 5px var(--color-grey);
    transition: padding 0.2s;
    border: 1px solid var(--color-black);
    white-space: nowrap;
}

button:hover {
    padding: 12px 17px 12px 17px;
    cursor: pointer;
}
