.navigator {
    text-align: center;
    margin-top: 60px;
    background-color: var(--color-grey-light);
    padding-top: 10px;
}

@media only screen and (min-width: 768px) {
    .navigator {
        padding-top: 15px;
        margin-bottom: 10px;
    }
}

.full-page {
    height: 100%;
}