.banner {
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    z-index: 2;
    align-items: center;
    justify-content: space-around;
    height: 50px;
    border-bottom: solid 2px var(--color-black);
    background-color: var(--color-white);
    padding: 10px 0px 10px 0px;
}

.banner-left {
    margin-left: 10px;
}


.banner-right {
    margin-right: 10px;
}

img {
    height: 50px;
}