.back-img {
    cursor: pointer;
    height: 35px;
    transition: height 0.2s;
}

.back-img:hover {
    height: 40px;
}

.login-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: center;
    position: absolute;
    top: 0;
    bottom: O;
    left: 0;
    right: 0;
}

.logo {
    height: 100px;
}

.margin-bottom {
    margin-bottom: 20px;
}

.input-error {
    border: 2px solid var(--color-error);
}

.error {
    color: var(--color-error);
    font-size: 13px;
    margin-bottom: 2px;
}

.input {
    font-size: 18px;
    padding: 2px;
}

.register {
    color: var(--color-primary-dark);
}

