input[type="file"] {
    display: none;
}
.custom-file-input {
    margin: 10px;
    border: 1px solid var(--color-black);
    transition: border 0.2s ease-in-out;
    box-shadow: 0px 4px 10px 2px var(--color-grey);
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    font-size: 0.9em;
}

.custom-file-input:hover {
    border: 1px solid var(--color-primary-dark);
    transition: border 0.2s ease-in-out;
}

.custom-file-input > img {
    width: 20px;
    vertical-align: top;
    border: none !important;
    border-radius: 0px !important;
}
