.user {
    display: flex;
    justify-content: flex-start;
    border-bottom: 2px solid var(--color-primary-light);
    align-items: center;
    margin: 5px;
}

.user-name {
    padding: 20px;
}

.user-img > img {
    height: 60px;
    border-radius: 25px;
}

.user-img {
    padding: 10px 20px 5px 0px;
}